{% extends "base.html" %}

{% block content %}
<h2>Edit User</h2>
<form method="POST" onsubmit="return validateAndConfirm()">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    
    <label for="email">Email:</label>
    <input type="email" name="email" value="{{ user.email }}" required {% if is_view_only %}disabled{% endif %}><br><br>

    <label for="password">New Password:</label>
    <input type="password" id="new-password" name="password" placeholder="Leave blank to keep current password" {% if is_view_only %}disabled{% endif %}><br><br>

    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm-password" placeholder="Re-enter new password" {% if is_view_only %}disabled{% endif %}><br><br>
       
    <div class="d-flex justify-content-between mt-3">

        <button type="submit" class="btn btn-primary update-btn" {% if is_view_only %}disabled{% endif %}>
            Save Changes
        </button>

        <a href="
        {% if current_user.role == 'analyst' %}
            {{ url_for('analyst.analyst_all_users') }}
        {% else %}
            {{ url_for('admin.all_users') }}
        {% endif %}
        " class="btn btn-primary update-btn">
            Cancel
        </a>
    </div>

</form>

<script src="{{ url_for('static', filename='password_validation.js') }}"></script>

<script>
    function validateAndConfirm() {
        const isValid = validateUserForm('email', 'new-password', 'confirm-password');
        if (!isValid) return false;

        return confirm("Are you sure you want to make these changes?")
    }
</script>
{% endblock %}
