{% extends "base.html" %}
{% block content %}

<h2>Update Ticket #{{ ticket.id }}</h2>
<form method="POST" onsubmit="return confirm('Are you sure you want to update this ticket?')">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.title.label }}<br>
        {{ form.title(size=40) }}
    </div>

    <div class="form-group">
        {{ form.description.label }}<br>
        {{ form.description(rows=4, cols=40) }}
    </div>

    <div class="form-group">
        {{ form.category.label }}<br>
        {{ form.category() }}
    </div>

    <div class="form-group">
        {{ form.priority.label }}<br>
        {{ form.priority() }}
    </div>

    {% if current_user.is_admin %}
    <div class="form-group">
        {{ form.status.label}}<br>
        {{ form.status() }}
    </div>
    {% else %}
    <div class="form-group">
        {{ form.status.label }}<br>
        <select disabled>
            <option selected>{{ form.status.data }}</option>
        </select>
    </div>
    {% endif %}

    <div class="form-group">
        {{ form.notes.label }}<br>
        {{ form.notes(rows=3, cols=40) }}
    </div>

    <div class="mb-3">
        {{ form.assigned_to.label(class="form-label") }}
        {{ form.assigned_to(class="form-select") }}
    </div>

    
    <div style="display: flex; justify-content: space-between; margin-top: 20px">
        <button type="submit" class="btn-action">Update</button>
        <button type="button" class="btn-action" onclick="if (confirm('Are you sure you want to cancel updating this ticket?')) window.history.back();">Cancel</button>
    </div>
</form>

{% endblock %}
